{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block body_content %}
<div class="container-fluid">
  <div class="container text-center">
    <header>
      <h1>{{ _("About Zrythm") }}</h1>
    </header>
    <h6 class="description">
      {{ _('Version') }} <code>{{ version }}</code>
    </h6>
  </div>
</div>

<div class="container container-fluid text-center">
<article>
  <h3>{{ _('Introduction') }}</h3>
  <p>
    {% trans %}
    Zrythm is a native GNU/Linux application built using C and the GTK+3 toolkit and borrows ideas, concepts and code from other projects such as Ardour 
    and Jalv. It is designed to be intuitive to use and is built with the intention to provide GNU/Linux users a full-featured alternative to proprietary 
    DAWs, while offering a unique approach to workflow that other GNU/Linux DAWs lack.
    {% endtrans %}
  </p>
  <h3>{{ _('First Commit') }}</h3>
  <p>
    {% trans %}
    The first commit was made on <code>Wed Jul 25 22:35:01 2018 +0900</code>.
    {% endtrans %}
  </p>
  <h3>{{ _('Current Stage') }}</h3>
  <p>
    {% trans %}
    Early alpha. Somewhat functional but has unimplemented features and crashes a lot.
    {% endtrans %}
  </p>
</div>

{% endblock body_content %}
