{#
Copyright (C) 2019-2020 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Community') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Zrythm's community pages and communication channels
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/community.html">
{% endblock head_content %}

{% block body_content %}
<div class="container features_box">
  <h1 class="page_title">
    {% trans %}
    Community
    {% endtrans %}
  </h1>

  <h2 class="page_subtitle">
    {% trans %}
    Chat
    {% endtrans %}
  </h2>
  <div class="button_group">
    <a class="button"
       href="irc://irc.freenode.net/zrythm">IRC</a>
    <a class="button"
       href="http://irc.lc/freenode/zrythm">IRC (webchat)</a>
    <a class="button"
       href="https://matrix.to/#/#zrythmdaw:matrix.org">
      Matrix</a>
    <a class="button"
       href="https://discord.gg/g2a7sVu">
      Discord</a>
  </div>

  <h2 class="page_subtitle">
    {% trans %}
    Mail
    {% endtrans %}
  </h2>
  <div class="button_group">
    <a class="button"
       href="https://lists.zrythm.org/lists/listinfo/user">
      {{ _('Users') }}</a>
    <a class="button"
       href="https://lists.zrythm.org/lists/listinfo/dev">
      {{ _('Developers') }}</a>
  </div>

  <h2 class="page_subtitle">
    {% trans %}
    Project
    {% endtrans %}
  </h2>
  <div class="button_group">
    <a class="button"
       href="{{ issue_tracker }}">
      {{ _('Issue tracker') }}</a>
    <a class="button"
       href="https://hosted.weblate.org/engage/zrythm/">
      {{ _('Translations') }}</a>
    <a class="button"
       href="https://opencollective.com/zrythm">
      Open Collective</a>
  </div>

</div>

{% endblock body_content %}
