{#
Copyright (C) 2019-2020 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Community') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Zrythm's community pages and communication channels
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/community.html">
{% endblock head_content %}

{% block body_content %}
<left>
<div class="container features_box">
  <h1 class="page_title">
    {% trans %}
    Community
    {% endtrans %}
  </h1>

  <h2 class="page_subtitle">
    {% trans %}
    Chat
    {% endtrans %}
  </h2>
  <table>
    <tbody>
      <tr>
        <td class="first_col">
          {% trans %}
          IRC
          {% endtrans %}
        </td>
        <td>
          <a href="irc://irc.freenode.net/zrythm">
            {% trans %}
            #zrythm on irc.freenode.net
            {% endtrans %}
          </a>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          {% trans %}
          Matrix
          {% endtrans %}
        </td>
        <td>
          <a href="https://matrix.to/#/#zrythmdaw:matrix.org">
            #zrythmdaw:matrix.org
          </a>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          {% trans %}
          Discord
          {% endtrans %}
        </td>
        <td>
          <a href="https://discord.gg/AbHb3eD">
            discord.gg/AbHb3eD
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="page_subtitle">
    {% trans %}
    Mail
    {% endtrans %}
  </h2>
  <table>
    <tbody>
      <tr>
        <td class="first_col">
          {% trans %}
          User
          {% endtrans %}
        </td>
        <td>
          <a href="https://lists.zrythm.org/lists/listinfo/user">
            user@zrythm.org
          </a>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          {% trans %}
          Developer
          {% endtrans %}
        </td>
        <td>
          <a href="https://lists.zrythm.org/lists/listinfo/dev">
            dev@zrythm.org
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="page_subtitle">
    {% trans %}
    Issue tracker
    {% endtrans %}
  </h2>
  <table>
    <tbody>
      <tr>
        <td class="first_col">
          Redmine
        </td>
        <td>
          <a href="{{ issue_tracker }}">
            {% trans %}
            zrythm project
            {% endtrans %}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="page_subtitle">
    {% trans %}
    Translations
    {% endtrans %}
  </h2>
  <table>
    <tbody>
      <tr>
        <td class="first_col">
          Weblate
        </td>
        <td>
          <a href="https://hosted.weblate.org/engage/zrythm/">
            {% trans %}
            zrythm project
            {% endtrans %}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</div>
</left>

{% endblock body_content %}
