{#
Copyright (C) 2019-2023 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Get Involved') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Zrythm's community pages and communication channels
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/community.html">
{% endblock head_content %}

{% block body_content %}
<section class="hero">
    <section class="hero__container container">
        <h2 class="hero__title">{{ _('Get Involved') }}</h2>
    </section>

</section>


<section>
    <h3 class="header--underline" id="contribute">{{ _('Contribute') }}</h3>
    <div class="container">
        <div class="community__grid">

            <a href="{{ git_url }}" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Join Development') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Start contributing code on our GitLab instance.') }}</p>
                </div>
            </a>

            <a href="{{ issue_tracker }}" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Submit Bug Reports/Feature Requests') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Browse our issue tracker and submit feature requests and bug reports.') }}</p>
                </div>
            </a>

            <a href="https://hosted.weblate.org/engage/zrythm/" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Translate Zrythm') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Translate the Zrythm DAW, the user manual and our websites into your language.') }}</p>
                </div>
            </a>

        </div>
    </div>

    <h3 class="header--underline" id="contact">{{ _('Get in Touch') }}</h3>
    <div class="container">
        <div class="community__grid">

            <a href="https://forum.zrythm.org" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Join our Forum') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Join our forum and share your experience with the rest of the community.') }}</p>
                </div>
            </a>

            <a href="https://web.libera.chat/#zrythm" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Chat with us on IRC') }}</h4>
                </div>
                <div class="community__content">
                  <p>{{ _('Our IRC channel is #zrythm on Libera.Chat (<code>irc://irc.libera.chat/zrythm</code>). Feel free to ping an operator for a <code>zrythm/user/*</code> cloak.') }}</p>
                </div>
            </a>

            <a href="https://matrix.to/#/#zrythmdaw:matrix.org" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Chat with us on Matrix') }}</h4>
                </div>
                <div class="community__content">
                  <p>{{ _('Matrix is an open standard for secure and decentralized communication. Our Matrix channel is #zrythmdaw:matrix.org and is bridged with IRC.') }}</p>
                </div>
            </a>

            <a href="https://mastodon.social/web/@zrythm" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Follow us on Mastodon') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Follow us on Mastodon to get updates on new releases and get sneak peeks at new features, vote in polls, and more.') }}</p>
                </div>
            </a>

        </div>
    </div>

    <h3 class="header--underline" id="donate">{{ _('Donate') }}</h3>
    <div class="container">
        <div class="community__grid">

            <a href="{{ git_url }}#support" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Donate CryptoCurrency') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Send us Bitcoin (BTC), Litecoin (LTC) or Monero (XMR).') }}</p>
                </div>
            </a>

            <a href="https://liberapay.com/Zrythm" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Donate on LiberaPay') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Become a patron on LiberaPay. You can donate using PayPal, credit card, or a European bank account.') }}</p>
                </div>
            </a>

            <a href="https://opencollective.com/zrythm" class="community__card btn">
                <div class="community__header">
                    <h4 class="community__title">{{ _('Donate on Open Collective') }}</h4>
                </div>
                <div class="community__content">
                    <p>{{ _('Donate on Open Collective and view our public expenses.') }}</p>
                </div>
            </a>

        </div>
    </div>

</section>

{% endblock body_content %}
