{% extends "common/base.j2" %}
{% block body_content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Contact information") }}</h1>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="col-lg-6">
    <h2>{{ _("Mailing Lists") }}</h2>
      <p>
        {% trans %}
            Archived, public mailing lists for Zrythm are hosted <a href="https://lists.zrythm.org/hyperkitty/">here</a>
            You can send messages to the lists at <a href="mailto:user@lists.zrythm.org">user@lists.zrythm.org</a> for
            general user inquiries/discussions and <a href="mailto:dev@lists.zrythm.org">dev@lists.zrythm.org</a> for
            development discussions.
        {% endtrans %}
      </p>
  </div>

  <div class="col-lg-6">
    <h2>{{ _("IRC/Matrix/Discord") }}</h2>
      <p>
        {% trans %}
        Zrythm is reachable on IRC at #zrythm (via irc.freenode.net), 
        Matrix at <a href="https://matrix.to/#/#zrythmdaw:matrix.org">#zrythmdaw:matrix.org</a>, 
        and Discord at <a href="https://discord.gg/AbHb3eD">https://discord.gg/AbHb3eD</a>.
        The channels are bridged so the messages are all shared.
        {% endtrans %}
      <br><small>
        {% trans %}
          * Discord requires a non-free client, collects information about you, and promotes other non-free programs so we do not recommend it.
        {% endtrans %}
      </small>
      </p>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2>{{ _("Contacting individuals") }}</h2>
    <p>
        {% trans %}
           See the <a href="team.html">Team</a> page for contact information of each person.
        {% endtrans %}
    </p>
  </div>

  <div class="col-lg-6">
    <h2>{{ _("Reporting bugs") }}</h2>
    <p>
        {% trans %}
             We track open feature requests and bugs for projects
             within Zrythm in our
             <a href="https://git.zrythm.org/zrythm/zrythm/issues">Bug tracker</a>.
             You can also report bugs or feature requests to the
             <a href="https://lists.nongnu.org/mailman/listinfo/zrythm-user">zrythm-user</a>
             mailing list.  The mailinglist requires no subscription.
        {% endtrans %}
    </p>
  </div>
</div>
</div>
{% endblock body_content %}
