{% extends "common/base.j2" %}
{% block body_content %}
<div class="jumbotron">
  <div class="text-center">
    <h1>{{ _("GNUnet for developers") }}</h1>
  </div>
</div>

<div class="container-fluid c_acronym">
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h3>{{ _("Repositories") }}</h3>

      <p>
        {% trans %}
               A list of our Git
               repositories can be found on our
               our <a href="https://git.gnunet.org/">Git Server</a>.
         {% endtrans %}
     </p>
    </div>
    <div class="col-lg-4">
      <h3>{{ _("Bibliography") }}</h3>

      <p>
        {% trans %}
               Technical papers can be found in
               our <a href="https://old.gnunet.org/bibliography">bibliography</a>.
       {% endtrans %}
      </p>
    </div>
     <div class="col-lg-4">
      <h3>{{ _("Discussion") }}</h3>

      <p>
        {% trans %}
               We have a mailing list for developer discussions.
               You can subscribe to or read the list archive at
               <a href="http://lists.gnu.org/mailman/listinfo/gnunet-developers">http://lists.gnu.org/mailman/listinfo/gnunet-developers</a>.
        {% endtrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h3>{{ _("Regression Testing") }}</h3>

      <p>
         {% trans %}
               We have <a href="https://buildbot.net/">Buildbot</a>
               automation tests to detect regressions and check for
               portability at <a
               href="https://old.gnunet.org/buildbot/gnunet/">https://old.gnunet.org/buildbot/gnunet/</a>.
        {% endtrans %}
       </p>
    </div>
    <div class="col-lg-4" note="not yet operational">
      <h3>{{ _("Code Coverage Analysis") }}</h3>

      <p>
         {% trans %}
               We use
               <a href="http://ltp.sourceforge.net/coverage/lcov.php">LCOV</a>
               to analyze the code coverage of our tests, the
               results are available
               at <a href="https://old.gnunet.org/coverage/">https://old.gnunet.org/coverage/</a>.
        {% endtrans %}
      </p>
    </div>
    <div class="col-lg-4">
      <h3>{{ _("Performance Analysis") }}</h3>

      <p>
         {% trans %}
               We
               use <a href="https://old.gnunet.org/gauger">Gauger</a>
               for performance regression analysis of the exchange
               backend
               at <a href="https://old.gnunet.org/gauger/">https://old.gnunet.org/gauger/</a>.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>
</div>

{% endblock body_content %}
