{#
Copyright (C) 2019-2021 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Download') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Download Zrythm's source code or purchase a binary
      package installer.
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/download.html">

<!-- JSON-LD schema -->
<script type="application/ld+json">
{
"@context" : "http://schema.org",
"@type" : "Product",
"name" : "Zrythm DAW",
"url" : "https://www.zrythm.org/{{ lang }}/download.html",
"image": "{{ screenshot }}",
"logo": "{{ logo }}",
"slogan": "{{ slogan }}",
}
</script>
{% endblock head_content %}

{% block body_content %}
<div class="modal" id="osmodal">
    <div class="modal__dialog">
        <div class="modal__header">
            <h4 class="modal__title">{{ _('Select Platform') }}</h4>
            <a href="#" class="modal__close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
            </a>
        </div>
        <div class="modal__list">
            <a class="modal__list-item" href="{{ downloads_url }}zrythm-trial-{{ version }}-installer.zip">GNU/Linux</a>
            <a class="modal__list-item" href="{{ downloads_url }}zrythm-trial-{{ version }}-x86_64.AppImage">AppImage (experimental)</a>
            <a class="modal__list-item" href="{{ downloads_url }}zrythm-trial-{{ version }}-x86_64.flatpak">Flatpak</a>
            <a class="modal__list-item" href="{{ downloads_url }}zrythm-trial-{{ version }}-ms-setup.exe">Windows</a>
            <a class="modal__list-item" href="{{ downloads_url }}zrythm-trial-{{ version }}-osx-installer.zip">MacOS</a>
        </div>
    </div>
</div>

<section class="hero">
    <section class="hero__container container">
        <h2 class="hero__title">{{ _('Downloads') }}</h2>
    </section>

</section>


<h3 class="header--underline">{{ _('Installers') }}</h3>
<section class="downloads">

    <div class="downloads__container container">
        <div class="downloads__card">
            <h4 class="downloads__title">{{ _('Basic') }}</h4>
            <h2 class="downloads__price">{{ _('Free') }}</h2>
            <ul class="downloads__features">
                <li class="downloads__feature">{{ _('Up to 25 tracks') }}</li>
                <li class="downloads__feature">{{ _('Basic plugins') }}</li>
                <li class="downloads__feature">{{ _('Web user manual') }}</li>
                <li class="downloads__feature">v{{ version }}</li>
            </ul>
            <a href="#osmodal"class="downloads__btn btn">{{ _('Download') }}</a>
        </div>

        <div class="downloads__card">
            <h4 class="downloads__title header--tertiary">{{ _('Single') }}</h4>
            <h2 class="downloads__price">{{ single_price_for_locale }}</h2>
            <ul class="downloads__features">
                <li class="downloads__feature">{{ _('Unlimited tracks') }}</li>
                <li class="downloads__feature">{{ _('Basic & Z Series plugins') }}</li>
                <li class="downloads__feature">{{ _('Web & PDF user manual') }}</li>
                <li class="downloads__feature">v{{ version }}</li>
            </ul>
            <a href="https://accounts.zrythm.org/en/products/single/view" class="downloads__btn btn btn--tertiary">{{ _('Purchase') }}</a>
        </div>

        <div class="downloads__card">
            <h4 class="downloads__title header--primary">{{ _('Bundle') }}</h4>
            <h2 class="downloads__price">{{ bundle_price_for_locale }}</h2>
            <ul class="downloads__features">
                <li class="downloads__feature">{{ _('Unlimited tracks') }}</li>
                <li class="downloads__feature">{{ _('Basic & Z Series plugins') }}</li>
                <li class="downloads__feature">{{ _('Web & PDF user manual') }}</li>
                <li class="downloads__feature">{{ _('Access to all v1 releases') }}</li>
            </ul>
            <a href="https://accounts.zrythm.org/en/products/bundle/view" class="downloads__btn btn btn--primary">{{ _('Purchase') }}</a>
        </div>

        <div class="downloads__card">
            <h4 class="downloads__title header--secondary">{{ _('Nightly') }}</h4>
            <h2 class="downloads__price">{{ subscription_price_for_locale }}<p style="display: inline;">/{{ _('year') }}</p></h2>
            <ul class="downloads__features">
                <li class="downloads__feature">{{ _('Unlimited tracks') }}</li>
                <li class="downloads__feature">{{ _('Basic & Z Series plugins') }}</li>
                <li class="downloads__feature">{{ _('Web & PDF user manual') }}</li>
                <li class="downloads__feature">{{ _('Access to all releases') }}</li>
                <li class="downloads__feature">{{ _('Access to nightly builds') }}</li>
            </ul>
            <a href="https://accounts.zrythm.org/en/products/subscription/view" class="downloads__btn btn btn--secondary">{{ _('Subscribe') }}</a>
        </div>
    </div>
    {% if currency_for_locale != 'GBP' %}
    <div class="downloads__funds-container container">
      <small>{{ _('* Prices in this currency are estimates') }}</small>
    </div>
    {% endif %}
    <div class="downloads__funds-container container">
        <div class="downloads__funds">
            <p class="downloads__funds-text">{{ _('Zrythm relies on donations and purchases to sustain development. This month we received:').format (loc_salary = local_salary_str) }}</p>
            <h3 class="downloads__funds-amount">{{ monthly_earning_str }}</h3>
        </div>
    </div>

</section>



<h3 class="header--underline">{{ _('Source Code') }}</h3>
<section class="downloads__source container">
    <a class="downloads__sourcebtn btn" href="{{ git_url }}">Git</a>
    <a class="downloads__sourcebtn btn" href="{{ releases_url }}">{{ _('Releases') }}</a>
    <a class="downloads__sourcebtn btn" href="{{ url('static/gpg_key.txt') }}">{{ _('GPG Key') }}</a>
</section>

{% endblock body_content %}
