{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Download') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Download Zrythm's source code or purchase a binary
      package installer
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/download.html">
{% endblock head_content %}

{% block body_content %}
<left>
<div class="container features_box">
  <h2>
    {% trans %}
    Installation
    {% endtrans %}
    <small>
    </small>
  </h2>
  <br>

  <h3>
    {% trans %}
    Source code
    {% endtrans %}
  </h3>
  <table>
    <tbody>
      <tr>
        <td class="first_col">
          {% trans %}
          git repositories
          {% endtrans %}
        </td>
        <td class="second_col">
          <a href="{{ git_base_url }}">
            cgit
          </a>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          {% trans %}
          stable releases
          {% endtrans %}
        </td>
        <td>
          <a href="{{ releases_url }}">
            {% trans %}
            releases
            {% endtrans %}
          </a>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          {% trans %}
          GPG signing key
          {% endtrans %}
        </td>
        <td>
          <a href="{{ url('static/gpg_key.txt') }}">
            4813 2384 AD3D F7D8 6E25  4B83 022E AE42 313D 70F3
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>
    {% trans %}
    Installer
    {% endtrans %}
  </h3>
  <div class="container centered">
    <div class="row centered">
      <div class="col-sm-4">
        <h3>
          {{ version }}</h3>
      </div>
      <div class="col-sm-4">
        <h3>{{ _('alpha/beta') }}</h3>
      </div>
      <div class="col-sm-4">
        <h3>{{ _('subscription') }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>
          <p>{{ _('Binary package (installer)') }}</p>
          <p>{{ _('Latest Zrythm version') }}</p>
          <p>{{ _('$5 one-time purchase') }}</p>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <p>{{ _('Binary package (installer)') }}</p>
          <p>{{ _('Latest Zrythm version') }}</p>
          <p>{{ _('Free upgrades for all alpha/beta releases') }}</p>
          <p>{{ _('$25 one-time purchase') }}</p>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <p>{{ _('Binary package (installer)') }}</p>
          <p>{{ _('Latest Zrythm version') }}</p>
          <p>{{ _('Free upgrades for as long as you are subscribed') }}</p>
          <p>{{ _('$5 per month') }}</p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>
          <center>
            <a href="https://transactions.sendowl.com/products/78180327/DEBC7BB7/view" rel="nofollow" class="button">{{ _('Buy Now') }}</a>
            <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
          </center>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <center>
            <a href="https://transactions.sendowl.com/products/78169986/2B0FE183/view" rel="nofollow" class="button secondary">{{ _('Buy Now') }}</a>
            <script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>
          </center>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <center>
            <form action="https://www.paypal.com/cgi-bin/webscr"
                  class="no_css_form" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="QPVLCKJYGNT8A">
              <input type="submit" class="button primary" value="{{ _('Subscribe') }}"
                     name="submit">
            </form>
          </center>
        </p>
      </div>
    </div>
  </div>
</div>
</left>

{% endblock body_content %}
