{#
Copyright (C) 2019-2020 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Download') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Download Zrythm's source code or purchase a binary
      package installer
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/download.html">
{% endblock head_content %}

{% block body_content %}
<left>
<div class="container features_box">
  <h1 class="page_title">
    {% trans %}
    Download
    {% endtrans %}
  </h1>

  <h2>
    {% trans %}
    Source code
    {% endtrans %}
  </h2>
  <div class="button_group">
    <a class="button"
       href="{{ git_url }}">
      Git</a>
    <a class="button"
       href="{{ releases_url }}">
      {{ _('Releases') }}</a>
    <a class="button"
       href="{{ url('static/gpg_key.txt') }}">
      {{ _('GPG Key') }}</a>
  </div>

  {#
  <h2>
    {% trans %}
    Trial version
    {% endtrans %}
  </h2>
  <table>
    <tbody>
      <tr>
        <td class="first_col">
          {% trans %}
          GNU/Linux
          {% endtrans %}
        </td>
        <td class="second_col">
          <a href="{{ downloads_url }}zrythm-trial-{{ version }}-installer.zip">
            {% trans %}
            download zip
            {% endtrans %}</a>
          <small>
            <a href="{{ downloads_url }}zrythm-trial-{{ version }}-installer.zip.md5">
              (md5)</a>
            <a href="{{ downloads_url }}zrythm-trial-{{ version }}-installer.zip.asc">
              (sig)
            </a>
          </small>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          {% trans %}
          Windows 64-bit
          {% endtrans %}
        </td>
        <td>
          <a href="{{ downloads_url }}zrythm-trial-{{ version }}-setup.exe">
            {% trans %}
            download exe
            {% endtrans %}</a>
          <small>
            <a href="{{ downloads_url }}zrythm-trial-{{ version }}-setup.exe.md5">
              (md5)</a>
            <a href="{{ downloads_url }}zrythm-trial-{{ version }}-setup.exe.asc">
              (sig)
            </a>
          </small>
        </td>
      </tr>
      <tr>
        <td class="first_col">
          MacOS
        </td>
        <td>
          <a href="{{ downloads_url }}zrythm-trial-{{ version }}-setup.dmg">
            {% trans %}
            download dmg
            {% endtrans %}</a>
          <small>
            <a href="{{ downloads_url }}zrythm-trial-{{ version }}-setup.dmg.md5">
              (md5)</a>
            <a href="{{ downloads_url }}zrythm-trial-{{ version }}-setup.dmg.asc">
              (sig)
            </a>
          </small>
        </td>
      </tr>
    </tbody>
  </table>
  #}

  <h2>
    {% trans %}
    Installer
    {% endtrans %}
  </h2>
  <div class="container centered">
    <div class="row centered">
      <div class="col-sm-4">
        <h3>{{ _('trial') }}</h3>
        {# {{ version }} <small style="display: inline;">({{ _('alpha') }})</small></h3> #}
      </div>
      <div class="col-sm-4">
        <!--<h3>{{ _('alpha/beta') }}</h3>-->
        <h3>{{ _('full') }}</h3>
      </div>
      <div class="col-sm-4">
        <h3>{{ _('subscription') }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>
          <p>{{ _('Bundled plugins (basic)') }}</p>
          <p>{{ _('Goes silent after 30 minutes') }}</p>
          <p>{{ _('Save/load is disabled') }}</p>
          <p>{{ _('<b>£0</b>') }}</p>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <p>{{ _('Compiled with all features') }}</p>
          <p>{{ _('Bundled plugins (all)') }}</p>
          <p>{{ _('PDF user manual') }}</p>
          <p>{{ _('<b>£5</b> single version') }}</p>
          <p>{{ _('<b>+£10</b> beta bundle') }}</p>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <p>{{ _('Full version') }}</p>
          <p>{{ _('Upgrades to new releases') }}</p>
          <p>{{ _('Access to nightly builds') }}</p>
          <p>{{ _('<b>£5/month</b>') }}</p>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p>
          <center>
            <label class="button" for="modal-buy-single">{{ _('Try Now') }}</label>
            <input type="checkbox" id="modal-buy-single" class="modal">
            <div>
              <div class="card fluid">
                <label for="modal-buy-single" class="modal-close" ></label>
                <h3 class="section">Try Zrythm</h3>
                <p>
                  {{ _('This is a trial version with limited functionality. Please select your operating system.') }}
                </p>
                <p class="section">
                  <a href="{{ downloads_url }}zrythm-trial-{{ version }}-installer.zip" rel="nofollow" class="button">{{ _('GNU/Linux') }}</a>
                  <a href="{{ downloads_url }}zrythm-trial-{{ version }}-ms-setup.exe" rel="nofollow" class="button">{{ _('Windows 64-bit') }}</a>
                  <a href="{{ downloads_url }}zrythm-trial-{{ version }}-osx-installer.zip" rel="nofollow" class="button">MacOS</a>
                </p>
              </div>
            </div>
          </center>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <center>
            <a href="https://transactions.sendowl.com/packages/785771/1BBA85F0/view" rel="nofollow" class="button secondary">{{ _('Buy Now') }}</a>
          </center>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          <center>
            <a href="https://transactions.sendowl.com/subscriptions/14711/758ED75E/view" rel="nofollow" class="button primary">{{ _('Subscribe') }}</a>
          </center>
        </p>
      </div>
    </div>
  </div>
  <div class="centered"><small>
      {{ _('Support Zrythm by purchasing an installer.') }}
      {{ _('This month we received £{amount}.').format (
        amount = '<span class="tooltip" aria-label="' +
          _('This includes donations from LiberaPay, OpenCollective, downloads and subscriptions') +
          '">' + monthly_earning_str + '</span>') }}

        {#
        ({perc}%% of last month\'s amount).').format(
    perc = prev_month_comparison_perc) }}
    <progress value="{{ monthly_earning }}" max="{{ prev_month_earning_str }}" class="inline primary income_progress"></progress>
    #}
  </small></div>
</div>
</left>
<script type="text/javascript" src="https://transactions.sendowl.com/assets/sendowl.js" ></script>

{% endblock body_content %}
