{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block body_content %}
<article class="d-flex flex-column p-2 bd-highlight">
  <div class="container">
    <div class="text-center">
      <header>
        <h1>{{ _("Talk With Us") }}</h1>
      </header>
      <h6 class="description">
        {% trans %}
          Use the mailing lists and join our chatrooms
          to keep up with development, find technical help, and
          discuss Zrythm.
        {% endtrans %}
      </h6>
    </div>
    <div class="container">
      <p>
        <i class="fa fa-envelope"></i>
        <a href="http://lists.nongnu.org/mailman/listinfo/zrythm-announce">{{ _("Announcements Mailing List") }}</a>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="http://lists.nongnu.org/mailman/listinfo/zrythm-user">{{ _("General Help Mailing List") }}</a>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="http://lists.nongnu.org/mailman/listinfo/zrythm-dev">{{ _("Development Mailing List") }}</a>
      </p>
      <p>
        <i class="fa fa-comments"></i>
        {% trans %}
          Available on <a href="ircs://chat.freenode.net:6697/#zrythm">irc.freenode.net</a>
          in the channel <code>#zrythm</code>.
        {% endtrans %}
      </p>
      <p>
        <i class="fa fa-matrix-org"></i>
        {% trans %}
          Available on <a href="https://riot.im/app/#/room/#zrythmdaw:matrix.org">Matrix</a>
          in the channel <code>#zrythmdaw:matrix.org</code> (bridged with IRC).
        {% endtrans %}
      </p>
    </div> <!-- container -->
  </div>
</article>
{% endblock body_content %}
