{% extends "common/base.j2" %}
{% block body_content %}
  <article class="d-flex flex-column p-2 bd-highlight">
    <div class="container">
      <div class="text-center">
        <header>
          <h1>{{ _("Talk With Us") }}</h1>
        </header>
        <br />
        <p>
          {% trans %}
            Use the mailing lists, and join our
            <a href="ircs://chat.freenode.net:6697/#zrythm">IRC channel</a> 
            to keep up with development, find technical help, and
            discuss Zrythm.
          {% endtrans %}
        </p>
      </div>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="https://lists.zrythm.org/postorius/lists/announce.lists.zrythm.org/">{{ _("Announcements Mailing List") }}</a>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="https://lists.zrythm.org/postorius/lists/user.lists.zrythm.org/">{{ _("General Help Mailing List") }}</a>
      </p>
      <p>
        <i class="fa fa-envelope"></i>
        <a href="https://lists.zrythm.org/postorius/lists/dev.lists.zrythm.org/">{{ _("Development Mailing List") }}</a>
      </p>
      <p>
        <i class="fa fa-comments"></i>
        {% trans %}
          Available on <a href="https://freenode.net">irc.freenode.net</a>
          in the channel
          <a href="ircs://chat.freenode.net:6697/#zrythm">#zrythm</a>.
        {% endtrans %}
      </p>
      <p>
        <i class="fa fa-comments"></i>
        {% trans %}
          Available on <a href="https://matrix.org/">Matrix</a>
          in the channel
          <a href="https://riot.im/app/#/room/#freenode_#zrythm:matrix.org">#freenode_#zrythm:matrix.org</a>.
        {% endtrans %}
      </p>
    </div>
  </article>
{% endblock body_content %}
