{#
Copyright (C) 2019-2021 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Explore') }}</title>
<meta name="description"
      content=
      "{% trans %}
      List of features, functionality, and reviews
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/features.html">
{% endblock head_content %}

{% block body_content %}
<div class="container features_box sponsors_box">
  <h1 class="page_title">
    {% trans %}
    Explore
    {% endtrans %}
  </h1>

  <h2>
    {% trans %}
    Demos
    {% endtrans %}
  </h2>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             poster="https://www.zrythm.org/videos/lmc2-just-for-kicks.png">
        <source src="https://www.zrythm.org/videos/lmc2-just-for-kicks.webm"
                type="video/webm; codecs=vp9,opus"
                preload="metadata">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        Just For Kicks
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://sonomu.club/@rghvdberg">Rob van den Berg</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             poster="https://www.zrythm.org/videos/mylofy-alphatunez.png">
        <source src="https://www.zrythm.org/videos/mylofy-alphatunez.webm"
                type="video/webm; codecs=vp8,vorbis"
                preload="metadata">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        Alphatunez
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://soundcloud.com/mylofymusic">MyLoFy</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             poster="https://www.zrythm.org/videos/sahaathyva-dubz.png">
        <source src="https://www.zrythm.org/videos/sahaathyva-dubz.webm"
                type="video/webm; codecs=vp9,opus"
                preload="metadata">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        dubZ
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://soundcloud.com/user-301824472">SahaaThyva</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             poster="https://www.zrythm.org/videos/mylofy-window-into-the-air.png">
        <source src="https://www.zrythm.org/videos/mylofy-window-into-the-air.webm"
                type="video/webm; codecs=vp9,opus"
                preload="metadata">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        Window Into The Air
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://soundcloud.com/mylofymusic">MyLoFy</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             poster="https://www.zrythm.org/videos/yukota-nainai.png">
        <source src="https://www.zrythm.org/videos/yukota-nainai.webm"
                type="video/webm; codecs=vp9,opus"
                preload="metadata">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        ないない ({% trans %}Remake{% endtrans %})
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://www.youtube.com/channel/UC0hw6Md1OxhUX8IP6FU0E0w">yukota</a>
        </small>
      </div>
    </div>
  </div>

  <h2>
    {% trans %}
    Features
    {% endtrans %}
  </h2>
  <div class="row">
    <div class="col-sm-3">
      <img class="feature_img"
           src="{{ url('static/images/piano-roll.gif') }}"
           alt="{{ _('Piano roll') }}">
    </div>
    <div class="col-sm-9 feature_description">
      <h3>
        {% trans %}
        Piano roll
        {% endtrans %}
      </h3>
      <p>
        {% trans %}
        Create, edit and arrange MIDI events in a dedicated piano roll.
        {% endtrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 feature_description right">
      <h3>
        {% trans %}
        Anywhere-to-anywhere connections
        {% endtrans %}
      </h3>
      <p>
        {% trans %}
        Connect anything to anything.
        {% endtrans %}
      </p>
    </div>
    <div class="col-sm-3">
      <img class="feature_img"
           src="{{ url('static/images/anywhere-to-anywhere-connections.gif') }}"
           alt="{{ _('Anywhere-to-anywhere connections') }}">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <img class="feature_img"
           src="{{ url('static/images/bounce-in-place.gif') }}"
           alt="{{ _('Bounce in place') }}">
    </div>
    <div class="col-sm-9 feature_description">
      <h3>
        {% trans %}
        Bounce in-place
        {% endtrans %}
      </h3>
      <p>
        {% trans %}
        Quickly bounce selected material to audio.
        {% endtrans %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 feature_description right">
      <h3>
        {% trans %}
        Automation curves
        {% endtrans %}
      </h3>
      <p>
        {% trans %}
        Automate parameters with straight lines or curves.
        {% endtrans %}
      </p>
    </div>
    <div class="col-sm-3">
      <img class="feature_img"
           src="{{ url('static/images/automation-curves.gif') }}"
           alt="{{ _('Automation curves') }}">
    </div>
  </div>

  <h2>
    {% trans %}
    Screenshots
    {% endtrans %}
  </h2>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <img class="feature_img"
           src="{{ url('static/images/screenshots/zrythm-alpha-8.png') }}"
           alt="{{ _('Screenshot') }}">
      <div class="video_caption">
        {% trans %}
        Mixing
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Screenshot by
          {% endtrans %}
          <a href="https://mastodon.social/@openmastering">Open Mastering</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="feature_img"
           src="{{ url('static/images/screenshots/zrythm_screenshot_open_mastering_jan_18_2021.png') }}"
           alt="{{ _('Screenshot') }}">
      <div class="video_caption">
        {% trans %}
        Audio Editor
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Screenshot by
          {% endtrans %}
          <a href="https://mastodon.social/@openmastering">Open Mastering</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="feature_img"
           src="{{ url('static/images/feb-15-2021.png') }}"
           alt="{{ _('Screenshot') }}">
      <div class="video_caption">
        {% trans %}
        Localized UI
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Screenshot by
          {% endtrans %}
          <a href="https://www.zrythm.org">Zrythm</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="feature_img"
           src="{{ url('static/images/screenshots/lam-theme.png') }}"
           alt="{{ _('Screenshot') }}">
      <div class="video_caption">
        {% trans %}
        CSS Theme
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Screenshot by
          {% endtrans %}
          <a href="https://cliq.buzz/LAM">LAM</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <img class="feature_img"
           src="{{ url('static/images/screenshots/sahaathyva-screenshot-6-jul-2021.png') }}"
           alt="{{ _('Screenshot') }}">
      <div class="video_caption">
        {% trans %}
        Mixer view
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Screenshot by
          {% endtrans %}
          <a href="https://soundcloud.com/user-301824472">SahaaThyva</a>
        </small>
      </div>
    </div>
  </div>

  <h2>
    {% trans %}
    Reviews
    {% endtrans %}
  </h2>
  <div class="container centered">
    <div class="row centered">
      <div class="col-md-4 col-sm-12">
        <a href="https://www.youtube.com/watch?v=hVyTdUL7iOQ">
          {% trans %}
          unfa livestream: Checking out Zrythm
          {% endtrans %}
        </a>
        <blockquote cite="unfa">I was surprised how optimized Zrythm is for what I wanted to do</blockquote>
      </div>
      <div class="col-md-4 col-sm-12">
        <a href="https://www.linux-magazine.com/Issues/2019/229/FOSSPicks">
          {% trans %}
          Article from Issue 229/2019 of Linux Magazine
          {% endtrans %}
        </a>
        <blockquote cite="Graham Morrison">it is one of the best ways of composing music and exporting the audio files on [GNU/Linux]</blockquote>
      </div>
      <div class="col-md-4 col-sm-12">
        <a href="https://www.phoronix.com/scan.php?page=news_item&px=Zrythm-0.8.694-Open-Source-DAW">
          {% trans %}
          Phoronix news: Zrythm approaching beta as an easy-to-use, [free as in freedom] digital audio workstation
          {% endtrans %}
        </a>
        <blockquote cite="Michael Larabel">Zrythm continues advancing as another promising [free as in freedom] digital audio workstation</blockquote>
      </div>
    </div>
  </div>

</div>

{% endblock body_content %}
