{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
  <article>
    <section>
      <h3>{{ _("I'm building from source and I want to run Zrythm without installing") }}</h3>
      <p>
	{% trans %}
	Run <code>glib-compile-schemas data/</code> and then run zrythm using <code>GSETTINGS_SCHEMA_DIR=data ./build/zrythm</code>
	{% endtrans %}
      </p>
      <h3>{{ _("Why does my program start in the background on OS X if I run from the command line?") }}</h3>
      <p>
	{% trans %}
	tl;dr: OSX normally uses some mechanism to coordinate the launching of a program between various parts of the system and the loading of info from an .app bundle. One of these coordination tasks is responsible for bringing a newly launched app into the foreground. When you run a binary directly from the Terminal you are running it directly, not through <a href="https://developer.apple.com/reference/coreservices/1658613-launch_services?language=objc">Launch Services</a>, so the program starts in the background.
  See <a href="https://github.com/andlabs/libui#why-does-my-program-start-in-the-background-on-os-x-if-i-run-from-the-command-line">this</a>
	{% endtrans %}
      </p>
    </section>
  </article>
<!--
<h2>{{ ("Q?") }}</h2>

<h2>{{ ("Q?") }}</h2>

<h2>{{ ("Q?") }}</h2>
-->

</div>
{% endblock body_content %}
