{% extends "common/base.j2" %}
{% block body_content %}
<div class="container">
  <article>
    <section>
      <h3>Q: {{ _("I'm building from source and I want to run Zrythm without installing") }}</h3>
      <p>
	{% trans %}
	A: Run <code>glib-compile-schemas data/</code> and then run zrythm using <code>GSETTINGS_SCHEMA_DIR=data ./build/zrythm</code>
	{% endtrans %}
      </p>
    </section>
  </article>
<!--
<h2>{{ ("Q?") }}</h2>

<h2>{{ ("Q?") }}</h2>

<h2>{{ ("Q?") }}</h2>
-->

</div>
{% endblock body_content %}
