{#
Copyright (C) 2019-2022 Alexandros Theodotou <alex at zrythm dot org>
Copyright (C) 2021 Andrew Harter <andrewhharter@gmail.com>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Features') }}</title>
<meta name="description"
      content=
      "{% trans %}
      List of features.
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/features.html">
{% endblock head_content %}

{% block body_content %}
<section class="hero">
    <section class="hero__container container">
        <h2 class="hero__title">{{ _('Features') }}</h2>
    </section>

</section>

{% for group in feature_groups %}
<h3 class="header--underline">{{ group.title }}</h3>
<section class="highlights" id="highlights">

{% for feature in group.features %}
  <div class="highlights__row{{ loop.cycle ('', ' highlights__row--alt') }}">
        <div class="highlights__content">
            <h3 class="highlights__header">{{ feature.title }}</h3>
            <p class="highlights__text">
              {{ feature.summary }}
            </p>
        </div>
        <div class="highlights__screenshot"><img class="highlights__image" src="{{ feature.img if 'https' in feature.img else url('static/images/' + feature.img) }}"></div>
    </div>
{% endfor %}
</section>
{% endfor %}

{% endblock body_content %}
