{#
Copyright (C) 2019-2021 Alexandros Theodotou <alex at zrythm dot org>
Copyright (C) 2021 Andrew Harter <andrewhharter@gmail.com>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Digital Audio Workstation') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Zrythm is a digital audio workstation designed to be
      featureful and easy to use. It allows limitless
      automation, supports LV2 plugins, works with the JACK
      audio backend and provides chord assistance.
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/index.html">
{% endblock head_content %}

{% block body_content %}
    <section class="hero">
        <section class="hero__container container">
            <h1 class="hero__brand">ZRYTHM</h1>
            <h5 class="hero__subtext">{{ _('A highly automated and intuitive digital audio workstation') }}</h5>
            <div class="hero__buttons">
              <a class="hero__button btn btn--primary" href="{{ url(lang + '/download.html') }}">{{ _('Download') }}</a>
                <a class="hero__button btn" href="#highlights">{{ _('Learn More') }}</a>
            </div>
            <div class="hero__screenshot">
               <img src="{{ screenshot }}" class="hero__image">
            </div>
        </section>
    </section>

    <section class="highlights" id="highlights">

        <div class="highlights__row">
            <div class="highlights__content">
                <h3 class="highlights__header">{{ _('Limitless automation') }}</h3>
                <p class="highlights__text">
                    {% trans %}
                    Automate almost anything with automation events
                    using straight lines, ramps and curves, or with
                    LFOs and envelopes.
                    {% endtrans %}
                </p>
            </div>
            <div class="highlights__screenshot"><img class="highlights__image" src="{{ url('static/images/automation-curves.gif') }}" alt="{{ _('Automation curves') }}"></div>
        </div>

        <div class="highlights__row highlights__row--alt">
            <div class="highlights__content">
                <h3 class="highlights__header">{{ _('Audio Plugins') }}</h3>
                <p class="highlights__text">
                    {% trans %}
                    Complete support for <a href="https://lv2plug.in/">LV2</a> and VST2, with experimental
                    support for VST3, AU, SFZ and SF2.
                    {% endtrans %}
                </p>
            </div>
            <div class="highlights__screenshot"><img class="highlights__image" src="{{ url('static/images/plugin-showcase.png') }}" alt="{{ _('Audio plugins') }}"></div>
        </div>

        <div class="highlights__row">
            <div class="highlights__content">
                <h3 class="highlights__header">{{ _('Multi-Backend Support') }}</h3>
                <p class="highlights__text">
                    {% trans %}
                    Fully <a href="https://jackaudio.org/">JACK</a> aware,
                    including support for <a href="https://pipewire.org/">PipeWire</a>, JACK
                    transport, ALSA, PulseAudio, WASAPI, Windows MME,
                    CoreMidi and CoreAudio.
                    {% endtrans %}
                </p>
            </div>
            <div class="highlights__screenshot"><img class="highlights__image" src="{{ url('static/images/audio-backend-selection.png') }}" alt="{{ _('Audio backends') }}"></div>
        </div>

        <div class="highlights__row highlights__row--alt">
            <div class="highlights__content">
                <h3 class="highlights__header">{{ _('Chord Assistance') }}</h3>
                <p class="highlights__text">
                    {% trans %}
                    Featuring a chord pad for quickly trying out
                    chords in a scale and a chord track to assist with
                    chord progressions.
                    {% endtrans %}
                </p>
            </div>
            <div class="highlights__screenshot"><img class="highlights__image" src="{{ url('static/images/chord-highlighting.png') }}" alt="{{ _('Chord highlighting') }}"></div>
        </div>

        <div class="highlights__row">
            <div class="highlights__content">
                <h3 class="highlights__header">{{ _('Liberating') }}</h3>
                <p class="highlights__text">
                    {% trans %}
                    Zrythm is <a href="https://www.zrythm.org/videos/TEDxGE2014_Stallman05_LQ.webm">free software</a>.
                    Use, study, share and improve it freely.
                    {% endtrans %}
                </p>
            </div>
            <div class="highlights__screenshot"><img class="highlights__image" src="{{ url('static/images/programming.png') }}" alt="{{ _('Programming') }}"></div>
        </div>

        <div class="highlights__row highlights__row--alt">
            <div class="highlights__content">
                <h3 class="highlights__header">{{ _('Multilingual') }}</h3>
                <p class="highlights__text">
                    {% trans %}
                    Available in <a href="https://hosted.weblate.org/engage/zrythm/">multiple languages</a>
                    including English, French, Spanish, Portuguese, Japanese and German.
                    {% endtrans %}
                </p>
            </div>
            <div class="highlights__screenshot"><img class="highlights__image" src="{{ url('static/images/screenshots/feb-15-2021.png') }}" alt="{{ _('Multi-language support') }}"></div>
        </div>

    </section>

    <h3 class="header--underline">{{ _('Showcase') }}</h3>
    <section class="showcase container">
        <div class="container">
            <div class="learn__grid">
                <div class="learn__card">
                    <video controls class="learn__video" poster="https://www.zrythm.org/videos/lmc2-just-for-kicks.png" preload="none">
                    <source src="https://www.zrythm.org/videos/lmc2-just-for-kicks.webm"
                            type="video/webm; codecs=vp9,opus"
                            preload="metadata">
                      {% trans %}
                      Your browser does not support HTML5 video.
                      {% endtrans %}
                    </video>
                    <p class="learn__title">
                      Just For Kicks ~
                      <a href="https://sonomu.club/@rghvdberg">Rob van den Berg</a>
                    </p>
                </div>
                <div class="learn__card">
                    <video controls class="learn__video" poster="https://www.zrythm.org/videos/mylofy-alphatunez.png" preload="none">
                    <source src="https://www.zrythm.org/videos/mylofy-alphatunez.webm"
                            type="video/webm; codecs=vp8,vorbis"
                            preload="metadata">
                      {% trans %}
                      Your browser does not support HTML5 video.
                      {% endtrans %}
                    </video>
                    <p class="learn__title">
                      Alphatunez ~
                      <a href="https://soundcloud.com/mylofymusic">MyLoFy</a>
                    </p>
                </div>
                <div class="learn__card">
                    <video controls class="learn__video" poster="https://www.zrythm.org/videos/sahaathyva-dubz.png" preload="none">
                    <source src="https://www.zrythm.org/videos/sahaathyva-dubz.webm"
                            type="video/webm; codecs=vp9,opus"
                            preload="metadata">
                      {% trans %}
                      Your browser does not support HTML5 video.
                      {% endtrans %}
                    </video>
                    <p class="learn__title">
                      dubZ ~
                      <a href="https://soundcloud.com/user-301824472">SahaaThyva</a>
                    </p>
                </div>
                <div class="learn__card">
                    <video controls class="learn__video" poster="https://www.zrythm.org/videos/mylofy-window-into-the-air.png" preload="none">
                    <source src="https://www.zrythm.org/videos/mylofy-window-into-the-air.webm"
                            type="video/webm; codecs=vp9,opus"
                            preload="metadata">
                      {% trans %}
                      Your browser does not support HTML5 video.
                      {% endtrans %}
                    </video>
                    <p class="learn__title">
                      Window Into The Air ~
                      <a href="https://soundcloud.com/mylofymusic">MyLoFy</a>
                    </p>
                </div>
                <div class="learn__card">
                    <video controls class="learn__video" poster="https://www.zrythm.org/videos/yukota-nainai.png" preload="none">
                    <source src="https://www.zrythm.org/videos/yukota-nainai.webm"
                            type="video/webm; codecs=vp9,opus"
                            preload="metadata">
                      {% trans %}
                      Your browser does not support HTML5 video.
                      {% endtrans %}
                    </video>
                    <p class="learn__title">
                      ないない ({{ _('Remake') }}) ~
                      <a href="https://www.youtube.com/channel/UC0hw6Md1OxhUX8IP6FU0E0w">yukota</a>
                    </p>
                </div>
                <div class="learn__card">
                    <video controls class="learn__video" poster="https://www.zrythm.org/videos/mylofy-talisman.png" preload="none">
                    <source src="https://www.zrythm.org/videos/mylofy-talisman.webm"
                            type="video/webm; codecs=vp9,opus"
                            preload="metadata">
                      {% trans %}
                      Your browser does not support HTML5 video.
                      {% endtrans %}
                    </video>
                    <p class="learn__title">
                      TALisman ~
                      <a href="https://soundcloud.com/mylofymusic">MyLoFy</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <h3 class="header--underline">{{ _('Testimonials') }}</h3>
    <section class="testimonials container">

        <div class="testimonals__card">
            <img src="{{ url('static/images/unfa256.jpg') }}" class="testimonials__portrait">
            <h4 class="testimonials__name">unfa</h4>
            <p class="testimonials__text">
                "Zrythm is steadily building up towards something really exciting: a modern, flexible, [free as in freedom], Linux-native DAW focused on electronic music production"
            </p>
            <a href="https://www.youtube.com/watch?v=hVyTdUL7iOQ" class="testimonials__source">livestream: Making a funky song in Zrythm</a>
        </div>
        <div class="testimonals__card">
            <img src="{{ url('static/images/LV_Morrison_Graham.png_medium.png') }}" class="testimonials__portrait">
            <h4 class="testimonials__name">Graham Morrison</h4>
            <p class="testimonials__text">
                "it is one of the best ways of composing music and exporting the audio files on [GNU/Linux]"
            </p>
            <a href="https://www.linux-magazine.com/Issues/2019/229/FOSSPicks" class="testimonials__source">Article from Issue 229/2019 of Linux Magazine</a>
        </div>
        <div class="testimonals__card">
            <img src="{{ url('static/icons/zrythm/z_frame_8.svg') }}" class="testimonials__portrait">
            <h4 class="testimonials__name">Phoronix</h4>
            <p class="testimonials__text">
                "Zrythm continues advancing as another promising [free as in freedom] digital audio workstation"
            </p>
            <a href="https://www.phoronix.com/scan.php?page=news_item&px=Zrythm-0.8.694-Open-Source-DAW" class="testimonials__source">Zrythm approaching beta as an easy-to-use, [free as in freedom] digital audio workstation</a>
        </div>
    </section>

    <h3 class="header--underline">{{ _('Affiliates') }}</h3>
    <section class="container">
        <div class="container">
            <div class="affiliates__grid">
                <a href="https://weblate.org/{{ lang }}/">
                  <img
                     class="shadowed"
                     src="{{ url('static/images/weblate-logo-darktext-borders.png') }}"
                     alt="Weblate">
                  </img>
                </a>
                <a href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=63054&url_id=902">
                  <img
                     class="shadowed"
                     {% if lang in ['de', 'es', 'fr', 'it', 'ja', 'ko', 'nl', 'pt', 'zh'] %}
                     src="{{ url('static/images/nordvpn-banners/cool-off-72%25-1200x628-{lang}.png'.format (lang = lang)) }}"
                     {% else %}
                     src="{{ url('static/images/nordvpn-banners/cool-off-72%25-1200x628-us.png') }}"
                     {% endif %}
                     style="max-width:280px;"
                     alt="NordVPN">
                  </img>
                </a>
                {#
                <a href="https://www.bluehost.com/track/zrythmdaw/">
                  <img
                     class="shadowed"
                     src="{{ url('static/images/bluehost-120x90BW.png') }}"
                     alt="BlueHost">
                  </img>
                </a>
                #}
            </div>
        </div>
    </section>

{% endblock body_content %}
