{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Digital Audio Workstation') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Zrythm is a digital audio workstation designed to be
      featureful and easy to use. It allows limitless
      automation, supports LV2 plugins, works with the JACK
      audio backend and provides chord assistance.
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/index.html">
{% endblock head_content %}

{% block body_content %}
<div class="centered">
  <h1>Zrythm
    <small>
    {% trans %}
    a highly automated and intuitive digital audio workstation
    {% endtrans %}
    </small>
  </h1>

  <img
     class="screenshot_img shadowed"
     src="{{ url('static/images/apr-12-2020.png') }}"
     alt="Screenshot">
  </img>
</div>

<left>
<div class="container features_box">
  <h2>
    {% trans %}
    Overview
    {% endtrans %}
  </h2>

  <p>
    {% trans %}
    Zrythm is a
    <span class="tooltip" aria-label="Zrythm works on GNU/Linux, FreeBSD, MacOS and Windows">cross-platform</span>
    <span class="tooltip" aria-label="A digital audio workstation is software used for recording, editing and producing audio files">digital audio workstation</span> designed to be
    featureful and easy to use.
    {% endtrans %}
  </p>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>
          <img class="logo_img" width=28
             src="{{ url('static/icons/breeze/format-node-curve.svg') }}"
             alt="Logo">
          </img>
          {% trans %}
          Limitless automation
          {% endtrans %}
        </h3>
        <p>
          {% trans %}
          Automate almost anything with automation events
          using straight lines, ramps and curves, or with
          LFOs and envelopes.
          {% endtrans %}
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>
          <img class="logo_img" width=28
             src="{{ url('static/icons/zrythm/audio.svg') }}"
             alt="Logo">
          </img>
          {% trans %}
          Audio plugins
          {% endtrans %}
        </h3>
        <p>
          {% trans %}
          Complete support for <a href="https://lv2plug.in/">LV2</a> and VST2, with experimental
          support for VST3.
          {% endtrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>
          <img class="logo_img" width=28
             src="{{ url('static/icons/zrythm/midi-connector.svg') }}"
             alt="Logo">
          </img>
          {% trans %}
          Multi-backend support
          {% endtrans %}
        </h3>
        <p>
          {% trans %}
          Fully <a href="https://jackaudio.org/">JACK</a> aware, including support for JACK
          transport, ALSA, WASAPI, Windows MME,
          CoreMidi and CoreAudio.
          {% endtrans %}
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>
          <img class="logo_img" width=28
             src="{{ url('static/icons/breeze/minuet-chords.svg') }}"
             alt="Logo">
          </img>
          {% trans %}
          Chord assistance
          {% endtrans %}
        </h3>
        <p>
          {% trans %}
          Featuring a chord pad for quickly trying out
          chords in a scale and a chord track to help with
          chord progressions.
          {% endtrans %}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h3>
          <img class="logo_img" width=28
             src="{{ url('static/icons/breeze/folder-script.svg') }}"
             alt="Logo">
          </img>
          {% trans %}
          Liberating
          {% endtrans %}
        </h3>
        <p>
          {% trans %}
          Zrythm is <a href="https://www.gnu.org/philosophy/free-sw.html">free software</a>.
          Use, study, share and improve it freely.
          {% endtrans %}
        </p>
      </div>
      <div class="col-md-6 col-sm-12">
        <h3>
          <img class="logo_img" width=28
             src="{{ url('static/icons/breeze/globe.svg') }}"
             alt="Logo">
          </img>
          {% trans %}
          Multilingual
          {% endtrans %}
        </h3>
        <p>
          {% trans %}
          Available in <a href="https://hosted.weblate.org/engage/zrythm/">multiple languages</a>
          including English, French, Galician, Portuguese, Japanese and German.
          {% endtrans %}
        </p>
      </div>
    </div>
  </div>

  <div>
    <p>
      <a href="{{ url(lang + '/explore.html') }}">{{ _('Learn more') }}</a>
    </p>
  </div>
</div>
</left>
{% endblock body_content %}
