{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Learn') }}</title>
<meta name="description"
      content=
      "{% trans %}
      Zrythm reference pages - user manual - tutorials
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/learn.html">
{% endblock head_content %}

{% block body_content %}
<div class="container features_box sponsors_box">
  <h1 class="page_title">
    {% trans %}
    Learn
    {% endtrans %}
  </h1>

  <h2 class="page_subtitle">
    {% trans %}
    Tutorials
    {% endtrans %}
  </h2>
  <h3 class="page_subtitle">
    {% trans %}
    General
    {% endtrans %}
  </h3>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <video class="video" controls>
        <source src="https://www.zrythm.org/videos/zlfo_2020_04_03.mp4"
                type="video/mp4">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        ZLFO
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://mamot.fr/@tillparisot">Till Parisot</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             {#poster="https://www.zrythm.org/videos/midi_tracks_2020_04_03.jpg"#}>
        <source src="https://www.zrythm.org/videos/routing_2020_07_07.webm"
                type="video/webm">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        {% trans %}
        Routing
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://sonomu.club/@rghvdberg">Rob van den Berg</a>
        </small>
      </div>
    </div>
  </div>
  <h3 class="page_subtitle">
    {% trans %}
    Editing
    {% endtrans %}
  </h3>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <video class="video" controls>
        <source src="https://www.zrythm.org/videos/select-stretch_2020_11_03.webm"
                type="video/webm">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        {% trans %}
        Select/Stretch Tool
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://mastodon.eus/@porru">Porrumentzio</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls>
        <source src="https://www.zrythm.org/videos/edit-tool_2020_11_14.webm"
                type="video/webm">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        {% trans %}
        Edit Tool
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://mastodon.eus/@porru">Porrumentzio</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls>
        <source src="https://www.zrythm.org/videos/cut-tool_2020_11_14.webm"
                type="video/webm">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        {% trans %}
        Cut Tool
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://mastodon.eus/@porru">Porrumentzio</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls>
        <source src="https://www.zrythm.org/videos/ramp-tool_2020_11_14.webm"
                type="video/webm">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        {% trans %}
        Ramp Tool
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://mastodon.eus/@porru">Porrumentzio</a>
        </small>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <video class="video" controls
             {#poster="https://www.zrythm.org/videos/midi_tracks_2020_04_03.jpg"#}>
        <source src="https://www.zrythm.org/videos/zrythm-loop-audio2-2020-07-20.webm"
                type="video/webm">
        {% trans %}
        Your browser does not support HTML5 video
        {% endtrans %}
      </video>
      <div class="video_caption">
        {% trans %}
        Looping regions
        {% endtrans %}
        <br>
        <small>
          {% trans %}
          Video by
          {% endtrans %}
          <a href="https://sonomu.club/@rghvdberg">Rob van den Berg</a>
        </small>
      </div>
    </div>
  </div>

  <h2 class="page_subtitle">
    {% trans %}
    Other
    {% endtrans %}
  </h2>
  <div class="centered">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <iframe sandbox="allow-same-origin allow-scripts allow-popups"
                src="https://video.tedomum.net/video-playlists/embed/679e2079-5102-4d07-9777-fc71e5fae017?playlistPosition=1"
                frameborder="0" allowfullscreen></iframe>
        <div class="video_caption">
          TUTO Zrythm ({{ _('French') }})
          <br>
          <small>
            {% trans %}
            Playlist by
            {% endtrans %}
            <a href="https://mamot.fr/@tillparisot">Till Parisot</a>
          </small>
        </div>
      </div>
    </div>
  </div>

  <h2 class="page_subtitle">
    {% trans %}
    Documentation
    {% endtrans %}
  </h2>
  <div class="button_group">
    <a class="button"
       href="https://manual.zrythm.org/{{ lang }}/index.html">
      {{ _('User Manual') }}</a>
    <a class="button"
       href="https://docs.zrythm.org/">
      {{ _('Developer Reference') }}</a>
  </div>

</div>

{% endblock body_content %}
