{% extends "common/base.j2" %}
{% block body_content %}

<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Older News") }}</h1>
    <div class="col-lg-12">
      <p>
        {% trans %}
          This page documents the Zrythm history.
        {% endtrans %}
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
{% include "news/2019-02-17-release-schedule.inc" %}
{% include "news/2019-02-07-zrythm-migrated-to-self-hosted.inc" %}
    </div>
  </div>
</div> <!-- /container -->

{% endblock body_content %}
