{#
Copyright (C) 2019-2020 Alexandros Theodotou <alex at zrythm dot org>
Copyright (C) 2021 Andrew Harter <andrewhharter@gmail.com>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Plugins') }}</title>
<meta name="description"
      content=
      "{% trans %}
       Plugins bundled with Zrythm
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/plugins.html">
{% endblock head_content %}

{% block body_content %}
<section class="hero">
    <section class="hero__container container">
        <h2 class="hero__title">{{ _('Plugins') }}</h2>
    </section>

</section>

<!-- <section class="plugins"> -->
    <h3 class="header--underline">{{ _('Basic Plugins') }}</h3>
    <section class="plugins__group container">

        {% for pl in basic_plugins %}
        <div class="plugins__card">
            <img src="{{ url('static/images/' + pl.img) if pl.is_img_static else pl.img }}" class="plugins__thumbnail" alt="{{ _('{} screenshot').format(pl.name) }}">
            <div class="plugins__content">
                <div class="plugins__text">
                    <h4 class="plugins__title">{{ pl.name }}</h4>
                    <p class="plugins__description">
                      {{ pl.summary }}
                    </p>
                    <ul class="plugins__specs">
                      {% if pl.features %}
                        {% for feature in pl.features %}
                          <li class="plugins__spec">{{ feature }}</li>
                        {% endfor %}
                      {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>

    <h3 class="header--underline">{{ _('Z Series') }}</h3>
    <section class="plugins__group container">

        {% for pl in z_plugins %}
        <div class="plugins__card">
            <img src="{{ url('static/images/' + pl.img) if pl.is_img_static else pl.img }}" class="plugins__thumbnail" alt="{{ _('{} screenshot').format(pl.name) }}">
            <div class="plugins__content">
                <div class="plugins__text">
                    <h4 class="plugins__title">{{ pl.name }}</h4>
                    <p class="plugins__description">
                      {{ pl.summary }}
                    </p>
                    <ul class="plugins__specs">
                      {% for feature in pl.features %}
                        <li class="plugins__spec">{{ feature }}</li>
                      {% endfor %}
                    </ul>
                </div>

                <a href="https://www.zrythm.org/plugins/{{ pl.name }}">{{ _('Technical specs') }}</a>
            </div>
        </div>
        {% endfor %}

    </section>

{% endblock body_content %}
