{#
Copyright (C) 2019-2020 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Plugins') }}</title>
<meta name="description"
      content=
      "{% trans %}
       Plugins bundled with Zrythm
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/plugins.html">
{% endblock head_content %}

{% block body_content %}
<left>
<div class="container features_box">
  <h1 class="page_title">
    {% trans %}
    Plugins
    {% endtrans %}
  </h1>

  <div class="row">

    {% for pl in plugins %}
      <div class="col-sm">
        <h2 class="centered">
          {{ pl.name }}
        </h2>
        <div class="plugin_screenshot_div">
          <img class="centered"
               src="{{ url('static/images/' + pl.img) if pl.is_img_static else pl.img }}"
               alt="{{ _('{} screenshot').format(pl.name) }}">
        </div>
        <div class="centered">
          {{ pl.summary }}
        </div>
        <div>
          <b>{% trans %}Features{% endtrans %}</b>
          <ul>
            {% for feature in pl.features %}
              <li>{{ feature }}</li>
            {% endfor %}
          </ul>
        </div>
        <div class="centered">
          <a href="https://www.zrythm.org/plugins/{{ pl.name }}">{{ _('Technical specs') }}</a>
        </div>
      </div>
    {% endfor %}

  </div>
</div>

{% endblock body_content %}
