{#
Copyright (C) 2020 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Privacy Policy') }}</title>
<meta name="description"
      content=
      "{% trans %}
       Privacy Policy
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/privacy.html">
{% endblock head_content %}

{% block body_content %}
<div class="container features_box sponsors_box">
  <h1 class="page_title">
    {% trans %}
    Privacy Policy
    {% endtrans %}
  </h1>

  <h2 class="page_subtitle">
    About Zrythm.org
  </h2>
  <div>
    <p>
      Zrythm.org is a website paid for and administered by Alexandros Theodotou, doing business as
      Alexandros Theodotou in the UK. The website exists to make the digital audio workstation
      software called "Zrythm" available to users and developers, and to share information about
      the program.
    </p>
  </div>

  <h2 class="page_subtitle">
    Usage of Matomo
  </h2>
  <div>
    <p>
      Zrythm.org uses Matomo, a free software web analytics platform. A web analytics
      platform is used by a website owner in order to measure, collect, analyse and report
      visitors data for purposes of understanding and optimizing their website. If you would
      like to see what Matomo looks like, you can access a demo version at:
      <a href="https://demo.matomo.org">demo.matomo.org</a>.
    </p>
  </div>

  <h2 class="page_subtitle">
    Usage of SendOwl
  </h2>
  <div>
    <p>
      Zrythm.org uses SendOwl as its payment processor. You can find its privacy policy at:
      <a href="https://www.sendowl.com/privacy">www.sendowl.com/privacy</a>.
    </p>
  </div>

  <h2 class="page_subtitle">
    Purpose of the processing
  </h2>
  <div>
    <p>
      Matomo is used to analyse the behaviour of the website visitors to identify potential
      pitfalls; not found pages, search engine indexing issues, and which contents are the most
      appreciated, etc. Once the data is processed (number of visitors reaching a not found pages,
      viewing only one page, etc.), Matomo is generating reports for website owners to take
      action, for example changing the layout of the pages, publishing some fresh content, etc.
    </p>
    <p>
      Matomo is processing the following personal data:
      <ul>
        <li>IP address
        <li>Location of the user
      </ul>
    </p>
    <p>
      And also:
      <ul>
        <li>Date and time
        <li>Title of the page being viewed
        <li>URL of the page being viewed
        <li>URL of the page that was viewed prior to the current page
        <li>Screen resolution
        <li>Time in local timezone
        <li>Files that were clicked and downloaded
        <li>Link clicks to an outside domain
        <li>Pages generation time
        <li>Country, region, city
        <li>Main Language of the browser
        <li>User Agent of the browser
      </ul>
    </p>
    </p>
      The processing of personal data with Matomo is based on legitimate interests.
    </p>
  </div>

  <h2 class="page_subtitle">
    The legitimate interests
  </h2>
  <div>
    <p>
      Processing your personal data is helping us identify what is working and what is not on our
      website. For example, it helps us identify if the way we are communicating is engaging or
      not and how we can organize the structure of the website better. We are benefiting
      from the processing of your personal data, and we are directly acting on the website. By
      processing your personal data, you can profit from a website which is getting better and
      better.

      Your data will be used only to improve the user experience on our website and help you find
      the information you are looking for.
    </p>
  </div>

  <h2 class="page_subtitle">
    Recipient of the personal data
  </h2>
  <div>
    <p>
      The personal data received through Matomo are sent to our web server.
      The web hosting provider is “Hetzner Online GmbH, Industriestr. 25, 91710 Gunzenhausen, Germany“.
    </p>
  </div>

  <h2 class="page_subtitle">
    Details of transfers to third country and safeguards
  </h2>
  <div>
    <p>
      Matomo data is hosted in Germany.
    </p>
  </div>

  <h2 class="page_subtitle">
    Retention period or criteria used to determine the retention period
  </h2>
  <div>
    <p>
      The data retention period is 180 days.
    </p>
  </div>

  <h2 class="page_subtitle">
    The existence of each of the data subject’s rights
  </h2>
  <div>
    <p>
      As we are processing personal data on legitimate interests, you can exercise the
      following rights:

      <ul>
        <li>Right of access: you can ask us at any time to access your personal data.
        <li>Right to erasure: you can ask us at any time to delete all the personal data we are processing about you.
        <li>Right to object: you can object to the tracking of your personal data by using the following opt-out feature:
      </ul>
      <iframe
        style="border: 0; height: 200px; width: 600px;"
        src="https://matomo.zrythm.org/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=&fontColor=ffffff&fontSize=&fontFamily="
        ></iframe>

    </p>
  </div>

  <h2 class="page_subtitle">
    The right to lodge a complaint with a supervisory authority
  </h2>
  <div>
    <p>
      If you think that the way we process your personal data with Matomo analytics is infringing
      the law, you have the right to lodge a complaint with a supervisory authority.
    </p>
  </div>

  <h2 class="page_subtitle">
    Whether the provision of personal data is part of a statutory or contractual requirement; or obligation and possible consequences of failing to provide the personal data
  </h2>
  <div>
    <p>
      If you wish us to not process any personal data with Matomo, you can opt-out from it at
      any time. There will be no consequences at all regarding the use of our website.
    </p>
  </div>

  <h2 class="page_subtitle">
    The existence of automated decision-making, including profiling and information about how decisions are made, the significance and the consequences
  </h2>
  <div>
    <p>
      No profiling is done by either Zrythm.org or Matomo.
    </p>
  </div>

  <h2 class="page_subtitle">
    Contact information
  </h2>
  <div>
    <p>
      privacy AT zrythm.org
    </p>
  </div>

  <div>
    <p><small><em>
      Note: This privacy policy applies only to the www.zrythm.org subdomain and excludes any
      other domains owned by the Zrythm project, such as forum.zrythm.org and redmine.zrythm.org.
    </em></small></p>
  </div>

</div>

{% endblock body_content %}
