{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Thank You') }}</title>
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/purchase-thanks.html">
{% endblock head_content %}

{% block body_content %}
<center>
  <h1>Purchase Complete
    <small>
    </small>
  </h1>
<div class="container features_box">
  <p>
    {% trans %}
    Thank you for supporting development! You will
    receive an email soon with instructions
    to download your installer.
    {% endtrans %}
  </p>
  <p>
    {% trans %}
    Once you download the zip file, extract it and run
    <code>./installer.sh</code> in a terminal.
    If you experience any problems, please contact us.
    {% endtrans %}
  </p>
  <a href="index.html" class="button primary">
    {% trans %}
    Go back to home page
    {% endtrans %}
  </a>
</div>
</center>

{% endblock body_content %}
