{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block body_content %}
<div class="container text-center">
<header>
  <h1>{{ _("Team") }}</h1>
  <h6 class="description">
    {% trans %}
    The current team working on Zrythm.
          For a full list of contributors see the 
          <a href="{{ git_blob_url }}/AUTHORS">AUTHORS</a>, 
          <a href="{{ git_blob_url }}/TRANSLATORS">TRANSLATORS</a>
          and <a href="{{ git_blob_url }}/THANKS">THANKS</a> files in the distribution.
    {% endtrans %}
  </h6>
</header>
</div>
<section>
  <!-- list alphabetical, first those with images, then those without -->
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-lg-12">
          <div class="row pt-md">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <!-- <div class="col-6 col-md-4 profile"> -->
              <div class="img-box">
                <!-- was: height="240" -->
                <img src="{{ url('static/images/alextee.jpg') }}" alt="Alexandros Theodotou" class="img-fluid profile-pic">
                <ul class="text-center">
                  <li><a href="https://www.alextee.org"><font color="white"><i class="fa fa-home"></i></font></a></li>
                  <li><a href="https://mastodon.art/@alextee"><font color="white"><i class="fa fa-mastodon"></i></font></a></li>
                  <li><a href="https://liberapay.com/alextee/"><font color="white"><i class="fa fa-liberapay"></i></font></a></li>
                  <li><a href="mailto:alexATzrythm.org"><font color="white"><i class="fa fa-envelope-o"></i></font></a></li>
                </ul>
              </div>
              <h1><a href="https://www.alextee.org/">Alexandros Theodotou</a></h1>
              <h2>{{ _("Zrythm maintainer") }}</h2>
              <p></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <!-- <div class="col-6 col-md-4 profile"> -->
              <div class="img-box">
                <!-- was: height="240" -->
                <img src="{{ url('static/images/z.svg') }}" alt="Sascha Bast" class="img-fluid">
                <ul class="text-center">
                  <li><a href="mailto:sashATmischkonsum.org"><font color="white"><i class="fa fa-envelope-o"></i></font></a></li>
                </ul>
              </div>
              <h1><a href="mailto:sashATmischkonsum.org">Sascha Bast</a></h1>
              <h2>{{ _("Developer") }}</h2>
              <p></p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
              <!-- <div class="col-6 col-md-4 profile"> -->
              <div class="img-box">
                <!-- was: height="240" -->
                <img src="{{ url('static/images/sub26nico.jpeg') }}" alt="Nicolas Faure" class="img-fluid ">
                <ul class="text-center">
                  <li><a href="https://framasphere.org/people/d239bb40ca340134f6902a0000053625"><font color="white"><i class="fa fa-diaspora"></i></font></a></li>
                  <li><a href="https://mastodon.art/@sub26nico"><font color="white"><i class="fa fa-mastodon"></i></font></a></li>
                  <li><a href="mailto:sub26nicoATlaposte.net"><font color="white"><i class="fa fa-envelope-o"></i></font></a></li>
                </ul>
              </div>
              <h1><a href="https://framasphere.org/people/d239bb40ca340134f6902a0000053625">Nicolas Faure</a></h1>
              <h2>{{ _("French translator") }}</h2>
              <p></p>
            </div> <!-- profile -->
          </div> <!-- row -->
        </div> <!-- col -->
      </div> <!-- col-md-10 -->
    </div> <!-- row -->
  </div> <!-- container -->
</section>
{% endblock body_content %}
