{#
Copyright (C) 2020 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block head_content %}
<title>Zrythm - {{ _('Trademark Policy') }}</title>
<meta name="description"
      content=
      "{% trans %}
       Zrythm Trademark Policy
      {% endtrans %}" />
<link rel="canonical" href="https://www.zrythm.org/{{ lang }}/trademarks.html">
{% endblock head_content %}

{% block body_content %}
<div class="container features_box">
  <h1 class="page_title">
    Trademark Policy
  </h1>
  <h2 class="page_subtitle">
    Applicable Trademarks
  </h2>
  <div>
    <p>
      The word "Zrythm" and the Zrythm logo are trademarks of Alexandros Theodotou
      pending registration.
    </p>
  </div>

  <h2 class="page_subtitle">
    Objective of this Policy
  </h2>
  <div>
    <p>
      The objective of this trademark policy is:
      <ul>
        <li>to encourage widespread use and adoption of the Zrythm trademarks
        <li>to clarify proper usage of Zrythm trademarks by third parties
        <li>to prevent misuse of Zrythm trademarks that can confuse or mislead users with respect to Zrythm
      </ul>
    </p>
    <p>
      Following are the guidelines for the proper use of Zrythm trademarks by publishers and other third parties. Any use of or reference to Zrythm trademarks that is inconsistent with these guidelines, or other unauthorized use of or reference to Zrythm trademarks, or use of marks that are confusingly similar to Zrythm trademarks, is prohibited and may violate the trademark rights of Alexandros Theodotou.
    </p>
    <p>
      Any use of Zrythm trademarks in a misleading and false manner, such as untruthful
      advertising, is always prohibited.
    </p>
  </div>

  <h2 class="page_subtitle">
    Usage Guidelines
  </h2>
  <div>
    <p>
      This Trademark Policy explicitly affirms your nominative fair use rights under trademark
      law, including to:
      <ul>
        <li>Use the Zrythm wordmark in text to truthfully refer to and/or link to
          unmodified programs, products, services and technologies by Alexandros
          Theodotou.
        <li>Use the Zrythm logo in visuals to truthfully refer to and/or to link to
          the applicable unmodified programs, products, services and technologies by
          Alexandros Theodotou.
        <li>Use Zrythm trademarks to make true factual statements about Zrythm or
          communicate compatibility with your product truthfully.
      </ul>
    </p>
    <p>
      The following are explicitly forbidden:
      <ul>
        <li>Use of the Zrythm wordmark as part of a company name or logo, a product name or logo, or branding.
        <li>Use of the Zrythm logo as part of a company logo or organization logo or product logo or branding.
        <li>Use of the Zrythm wordmark as part of an acronym.
        <li>Use of Zrythm trademarks in any way that suggests an affiliation with or endorsement by the Zrythm project or community, if that is not the case.
      </ul>
    <p>
      All other uses of a Zrythm trademark require our prior written permission.
      Contact <a href="mailto:trademarks@zrythm.org">trademarks@zrythm.org</a> for
      more information.
    </p>
  </div>

  <h2 class="page_subtitle">
    Software Distribution Policy
  </h2>
  <div>
    <p>
      You may distribute unaltered copies of Zrythm that
      include the Zrythm trademarks without express
      permission from Alexandros Theodotou.
    </p>
    <p>
      You may further distribute altered copies of Zrythm
      that include the Zrythm trademarks, provided that
      alterations solely serve the purposes of:
      <ul>
        <li>porting Zrythm to a free system distribution
      currently approved by the Free Software Foundation at
      <a href="https://www.gnu.org/distros/free-distros.html">https://www.gnu.org/distros/free-distros.html</a>, OR
        <li>fixing a bug in Zrythm that has already been
      acknowledged by Alexandros Theodotou or CVE
      (<a href="https://cve.mitre.org/">https://cve.mitre.org/</a>)
      </ul>
    </p>
    <p>
      In any case, you may not add or remove
      functionalities and you must preserve all messages
      presented to users in the user interface and the
      command line, including but not limited to:
      <ul>
        <li>URLs pointing to official Zrythm web pages
        <li>informational messages (popups, console output,
      etc.)
      </ul>
    </p>
    <p>
      You must also provide a link to the original source
      code as published by Alexandros Theodotou at
      <a href="https://www.zrythm.org/releases/">https://www.zrythm.org/releases/</a>.
    </p>
  </div>

  <h2 class="page_subtitle">
    Requirement of Written Permission for Modified Versions Including Trademarks
  </h2>
  <div>
    <p>
      Zrythm is <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a>,
      and its license allows you to freely download, modify and redistribute the source code.
      However, if you make any changes to Zrythm not explicitly allowed above,
      you may not redistribute that product using
      any Zrythm trademark without Alexandros Theodotou’s prior written consent. For example,
      you may not distribute a modified form of Zrythm and continue to call it Zrythm, or
      include the Zrythm logo. If you wish to distribute a modified version of Zrythm
      that includes the Zrythm trademarks please contact us with your request
      at <a href="mailto:trademarks@zrythm.org">trademarks@zrythm.org</a>.
    </p>
  </div>

  <h2 class="page_subtitle">
    Newer Versions of this Policy
  </h2>
  <div>
    <p>
      This policy may be revised from time to time. The file <code>TRADEMARKS.md</code> in
      the source code releases will always contain the current policy at the time of each
      release.
    </p>
  </div>

</div>

{% endblock body_content %}
