{#
Copyright (C) 2019 Alexandros Theodotou <alex at zrythm dot org>

This file is part of Zrythm

Zrythm is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Zrythm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.
#}

{% extends "common/base.j2" %}
{% block body_content %}
<article class="d-flex flex-column p-5 bd-highlight">
    <header>
      <h1>{{ _("Tutorials") }}</h1>
    </header>
    <p>
      {% trans %}
      This page holds various tutorials for Zrythm. Some of them are not
      complete, but we find them useful regardless of their state.
      {% endtrans %}
    </p>
    <p>
      {% trans %}
      Zrythm installation instructions:
      <ul>
        <li>TODO</li>
      </ul>
      {% endtrans %}
    </p>
</article>
{% endblock body_content %}
