{% extends "common/base.j2" %}
{% block body_content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>{{ _("Media related to GNUnet") }}</h1>

    <p>
      {% trans %}
      Over the years we've given a couple of talks, workshops and other presentations
      which have been recorded.  The list below is neither chronological in order, nor
      complete.
      {% endtrans %}
    </p>
  </div>
</div>

<div class="container adorn_h3_bracket">
  <div class="row">
    <div class="col-lg-4">

      <h3>{{ _("2017") }}</h3>
      <h3>{{ _("2016") }}</h3>
      <h3>{{ _("2015") }}</h3>
      <h3>{{ _("2014") }}</h3>
      <h3>{{ _("2013") }}</h3>
      <h3>{{ _("2012") }}</h3>
      <h3>{{ _("2011") }}</h3>
      <h3>{{ _("2010") }}</h3>
    </div>
  </div>
</div>

</div> <!-- /container -->
{% endblock body_content %}
