{% extends "common/base.j2" %}
{% block body_content %}
<div class="jumbotron">
  <div class="container text-center">
    <h1>Media related to Zrythm</h1>

    <p>
    </p>
  </div>
</div>

<div class="container adorn_h3_bracket">
  <div class="row">
    <div class="col-lg-4">

      <h3>2017</h3>
      <h3>2016</h3>
    </div>
  </div>
</div>

</div> <!-- /container -->
{% endblock body_content %}
