<div class="text-center">
  <h3>Choose Your GNU+Linux Distro</h3>
  <br>
  <div class="btn-group">
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-debian"></i>  Debian</a>
      <ul class="dropdown-menu">
        <li><a href="#">Debian 10</a></li>
      </ul>
    </div>
    <div class="btn-group">
      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-linux"></i>  Fedora</a>
      <ul class="dropdown-menu">
        <li><a href="#">Fedora 28</a></li>
        <li><a href="#">Fedora 29</a></li>
        <li><a href="#">Fedora Rawhide</a></li>
      </ul>
    </div>
  </div>
  <div class="btn-group">
    <a href="#" class="btn btn-default"><i class="fa fa-archlinux"></i>  Arch</a>
  </div>
</div>
